@using Site.IServico.Pedidos
@using Site.Servico.Pedidos
@{
    IProdutoServico produtoServico = new ProdutoServico();
    
    var peca = (int)ViewBag.Peca;
    
    var listaModelos =
                from modelo in produtoServico.GetAll().Where(x => x.Peca.Id == peca)
                select new { modelo.Modelo.Id, modelo.Modelo.Descricao };

    var modelos = listaModelos.Distinct().OrderBy(x => x.Descricao).ToList();

    <option value="0"></option>
    
    foreach (var modelo in modelos)
    {
        <option value="@modelo.Id">
            @modelo.Descricao
        </option>
    }
}