@model IEnumerable<Site.Entidade.Pedidos.Aviamento>

@{
    Layout = null;
}

@{
    var listaCodigos =
        from codigo in Model
        select new { codigo.Codigo.Id, codigo.Codigo.Descricao };

    var codigos = listaCodigos.Distinct().OrderBy(x => x.Descricao).ToList();
    
    <option value="0"></option>
    
    foreach (var codigo in codigos)
    {
        <option value="@codigo.Id">
            @codigo.Descricao
        </option>
    }    
}