@model IEnumerable<Site.Entidade.Pedidos.Aviamento>

@{
    Layout = null;
}

@{
    var listaCores =
        from cor in Model
        select new { cor.Cor.Id, cor.Cor.Descricao  };

    var cores = listaCores.Distinct().OrderBy(x => x.Descricao).ToList();
    
    <option value="0"></option>
    
    foreach (var cor in cores)
    {
        <option value="@cor.Id">
            @cor.Descricao
        </option>
    }    
}