@using Site.Enums
@using Site.IServico.Pedidos
@using Site.Servico.Pedidos

@{
    IFornecedorServico fornecedorServico = new FornecedorServico();
    var fornecedores = fornecedorServico.GetAll().Where(x => x.Status == Status.Ativo).OrderBy(y => y.Descricao);
 
}
<div class="modal" id="Modal_Fornecedores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Fornecedores</h4>
            </div>
            <div class="modal-body">

                <table id="divFornecedores">
                    @foreach (var fornecedor in fornecedores)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" class="checkbox" name="fornecedores_@fornecedor.Id" value="@fornecedor.Id" />
                            </td>
                            <td>
                                @fornecedor.Descricao
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="modal-footer">
                <input class="btn btn-default" type="button" data-dismiss="modal" value="Adicionar" />
            </div>
        </div>
    </div>
</div>