<!--  MODAL PARTES -->
<div class="modal" id="Modal_Acrescimos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">ESPECIFICAÇÕES</h4>
            </div>
            <div class="modal-body">
            </div>

            <table>
                <tr>
                    <td>
                        <input class="input-medium" type="text" id="quantidadeItemPeca" name="quantidadeItemPeca" placeholder="Quantidade" />
                    </td>
                    <td>
                        <div id="idModal">
                            <select id="AcrescimoCategoria" name="AcrescimoCategoria" class="input" required style="width: 170px">
                                <option value="0"></option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <input class="input-medium" type="text" id="obsItemPeca" name="obsItemPeca" placeholder="Obs" />
                    </td>
                </tr>


            </table>
            <table class="" id="table_tipo_parte">
                <tr>
                    <td>
                        <div>
                            <select id="idTipoAviamento" name="TipoAviamento" class="input" required style="width: 170px">
                                <option value="0">Tipo Aviamento</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div>
                            <select id="idCorAviamento" name="CorAviamento" class="input" required style="width: 170px">
                                <option value="0">Cor Aviamento</option>


                            </select>
                        </div>
                    </td>
                    <td>
                        <div>
                            <select id="idCodigoAviamento" name="CodigoAviamento" class="input" required style="width: 170px">
                                <option value="0">Codigo Aviamento</option>

                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input id="checkbox1" style="margin-top:-2px" type="checkbox" name="usaMesmoTecido" value="1" checked="checked">
                        Usar o mesmo tecido
                    </td>
                </tr>

            </table>

            <table>
                <tr>
                    <td>
                        <select id="tecidoItem" name="tecido" class="input" required style="width: 120px">
                            <option value="0">Tecido</option>

                        </select>
                    </td>
                    <td>
                        <select id="corItem" name="cor" class="input" required style="width: 120px">
                            <option value="0">Cor</option>
                        </select>
                    </td>
                    <td>

                        <select id="fornecedorItem" name="fornecedor" class="input" required style="width: 120px">
                            <option value="0">Fornecedor</option>
                        </select>
                    </td>
                    <td>
                        <select id="codigoItem" name="codigo" class="input" required style="width: 100px">
                            <option value="0">Codigo</option>
                        </select>
                    </td>
                </tr>
            </table>


            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true" id="adicionarPartes">Adicionar</button>
            </div>
        </div>
    </div>
</div>
<!--  /MODAL -->  